.slides {
    padding: 2px 2px 2px 2px;
    font-size: small;
}

.slides:hover {
    text-decoration: none;
}

a:hover > span.label.label-default.slides {
    text-decoration: none;
    background-color:#222;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #000;
  outline: 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

body, html {
    height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
}

h2 {
	font-size: 30px;
}

p {
	font-size: 16px;
	font-weight: 400;
  text-align:justify;
}

header {
	padding: 0px 0 62px;
	text-align: center;
	background-image: url("../images/tchelinux.png");
	background-color: #000;
	background-repeat: no-repeat;
    background-size: auto 100%;
	background-position: right bottom;
    box-shadow: 10px 10px 250px 100px #000 inset;
}

.logo-name{
	padding-top: 62px;
}

.logo-link {
	font-size: 3em;
	letter-spacing: -0.04em;
}

.tagline, .logo-link, .logo-link:hover {
	color: #fff;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
	text-decoration: none;
}

.call-action-area .call-action-link, .btn {
	background-color: #fddd52;
	background-image: -moz-linear-gradient(top, #fddd52 30%, #f0a303 150%);
	background-image: -webkit-linear-gradient(top, #fddd52 30%, #f0a303 150%);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fddd52', endColorstr='#f0a303');
	background-image: linear-gradient(top, #fddd52 30%, #f0a303 150%);
	color: #2b2b2b;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), inset 0 -2px 3px 0 #cc7f0a, inset 0 1px 0 0 #fff9b1;
	border-radius: 40px;
}

.call-action-area .call-action-link, .btn {
	position: relative;
	cursor: pointer;
	display: inline-block;
	padding: 15px 30px;
	font-size: 2em;
	line-height: 1em;
	vertical-align: center;
	letter-spacing: -0.02em;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	margin-top: 50px;
}

body { margin-top: 50px; }

section {
    padding-top: 50px;
}

.navbar-default{
	background-image: linear-gradient(to bottom, #F8F8F8 0px, #DDD 90%);
}

footer {
	background-color: #f8f8f8;
	border-top: 2px solid #CCC;
	padding: 30px;
}
h2.subtitle {
	margin-bottom: 20px;
}


.schedule-tbl table {
	border-collapse: collapse;
	font-size: 1em;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
}

.schedule-tbl th{
    text-align:center;
}

.schedule-tbl td, .schedule-tbl th{
    border: 1px solid #ddd;
}

.schedule-tbl span.description {
    width:100%;
    display:block;
}

.schedule-tbl .schedule-empty{
    text-align:center;
}

.schedule-tbl a, a:hover, a:active, a:focus {
    color: inherit;
}

.schedule-time {
    font-weight: bold;
}

.schedule-slot {
    text-align: center;
}

.speech-container {
    padding-top: 60px;
    margin-top: -30px;
}

.speech-title {
    font-size: 20px;
    margin: 0px 0px 0px 58px;
}

.speech-time {
  font-size: 16px;
  padding: 5px;
  letter-spacing: -0.03em;
  color: #fff;
  background: #2b2b2b;
  border-radius: 4px;
  margin-bottom: 5px;
  float:left;
}

.speech-info > * {
    margin-left:58px;
}

.speech-description {
    font-weight:normal;
    text-align: justify;
    display: block;
}

.speaker {
    color: #666;
    font-weight: lighter;
    display: block;
    font-style: italic;
}

.speaker-name {
    display:block;
    font-size: 20px;
    margin: 10px 0px 0px 58px;
}

.speaker-bio {
    font-weight:normal;
    text-align: justify;
    display:block;
}

#eventick{
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
#search-route {
  width: 100%;
  margin: auto;
  padding: 0 5px;
  margin: 10px 0px 20px 0px;
}
#directions-panel {
  box-shadow: 0px 5px 10px 0px #838888;
  width: 100%;
  margin: auto;
  margin-top: -10px;
}
#directions-panel .adp-directions {
  width: 100%;
}
#directions-panel .adp-directions td {
  margin: 50px;
}

#map_canvas {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
  padding: 20px;
  max-width: 80%;
  margin: 0 auto 0 auto;
}

#search-route {
    max-width: 80%;
    margin: 0 auto 0 auto;
}

@media (max-width: 480px) {
    .logo-link {
        font-size: 2em;
        letter-spacing: -0.04em;
    }
}

footer .github, footer .github p {
    text-align: center;
}

footer {
    padding-bottom: 0;
}
.apoio-item {
    display: inline-block;
    margin: 0 30px 30px 0;
}

.apoio-list { }

.apoio-item > a {
    width:250px;
    max-height:250px
}

.apoio-link {
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    list-style: none;
}

.photo {
    max-width: 80%;
    position: relative;
    margin: 0 auto 0 auto;
}

a.apoio-logo.apoio-link {
}

a.apoio-logo.apoio-link:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 1.15);
    list-style: none;
}


/* Google maps responsive */
 
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
 
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}     
